.mobile {
  display: none;
  position: fixed;
  background-color: transparent;

  &__reload {
    background-color: transparent;
    outline: none;
    border: none;
    padding: 10px;

    svg {
      pointer-events: none;
    }
  }
}

.colors {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 1 0 25%;

  height: 100vh;
  border: 2px solid black;
  background-color: rgb(153, 27, 27);

  &__text {
    border-radius: 8px;
    padding: 10px;
    cursor: copy;
    transition: background-color 0.5s;
    color: white;
  }

  &__text:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  &__lock {
    height: 52px;
    background-color: transparent;
    outline: none;
    border: none;
    user-select: none;
    padding: 10px;
    border-radius: 8px;
    transition: background-color 0.5s;

    svg {
      fill: white;
      pointer-events: none;
    }

    .lock {
      display: none;
    }
  }

  &__lock:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
